section.menu{

    display: flex;
    flex-wrap: nowrap;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--yellow_Vertex)



    
}

section.menu, header{

    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    align-items: center;

    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.img_Title{
    width: 2.8rem;
    height: 2.8rem;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    justify-content: space-between
    
}

.menu__title{
    flex: auto;
    align-items: center;
    font-weight: bold;
    font-size: 1.25rem;
}


.menu__list{
    display: flex;
}

.menu__list__item {
    font-size: 16px;
    text-align: center;
    text-wrap: nowrap;


    padding: 1.25rem 0rem 1rem 0rem;
    justify-content: space-between;
}

.menu__list__item:hover {
	color: #9799A6;
	text-decoration-line: underline;
	transition: 1000ms;
    font-size: 1.2rem;
}


.menu__list__itemBar {
    font-size: 16px;
    text-align: center;
    text-wrap: nowrap;


    padding: 1.25rem 0.6rem 1rem 0.6rem;
    justify-content: space-between;
}



.menu__list__item__contato{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 1.25rem 1rem 1rem 0rem;
    justify-content: space-between;
}




